<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bomboverk.swiftdictionary">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_oficial_final"
        android:label="${appName}"
        android:roundIcon="@mipmap/ic_app_oficial_final_round"
        android:supportsRtl="true"
        android:theme="@style/SwiftTheme">
        <activity android:name=".ModoLeituraInfo"></activity>
        <activity android:name=".VerPalavra" />
        <activity android:name=".AdicionarPalavra" />
        <activity android:name=".ListaPalavras" />
        <activity android:name=".NovoDicionario" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6089547548003012~2631014498" />

        <service android:name=".FloatingWindow" />
    </application>

</manifest>